<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <script src="/lib/jquery/jquery-2.1.4.min.js"></script>
    <script>
        $(document).ready(function () {
            var text = localStorage.getItem("msgErrContent");
            text = text.replace(/(\r\n|\n|\r)/g, "<br>");
            $("#detailErrMsg").html(text);
        });
    </script>
</head>
<body>
    <div>
        <br>
        Detail Error Information: 
        <br>
        <br>
        <div id="detailErrMsg"></div>
    </div>
</body>
</html>
