
<style>
    .notes-image {
    float: right; 
    margin: 6px 30px 0 8px; 
    /*display: inline;*/
}
</style>

<div class="container" style="padding-top: 150px" ng-controller="homeViewController">

    <div class="row">
        <div class="col-xs-6">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <span class="caption-subject">Environment - {{currentHub}}</span>
                    </div>
                </div>
                <div class="portlet-body hub">
                    <ul class="flex-container">
                        <li class="flex-item"><div id="divDtx" class="radio-inline"><label><input type="radio" name="marketplace" id="radioDtx" ng-click="dtxSelect()"> DTX</label></div></li>
                        <li class="flex-item"><div id="divSg" class="radio-inline"><label><input type="radio" name="marketplace" id="radioSg" ng-click="sgSelect()"> SG</label></div></li>
                        <li class="flex-item"><div id="divAu" class="radio-inline"><label><input type="radio" name="marketplace" id="radioAu" ng-click="auSelect()"> AU</label></div></li>
                        <li class="flex-item"><div id="divEu" class="radio-inline"><label><input type="radio" name="marketplace" id="radioEu" ng-click="euSelect()"> EU</label></div></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="portlet light bordered" style="height: 204px">
                <div class="portlet-title">
                    <div class="caption">
                        <span class="caption-subject">Exceptions</span>
                    </div>
                </div>
                <ul>
                    <li ng-repeat="errText in logErrorsArr">
                        <a href="#" ng-click="retrieveErrDetailByInstanceId(errText)" ng-bind="errText"></a>
                    </li>
                </ul>
            </div>
        </div>
        
        <div>
            <a href="#" ng-click="myNotes()">
                <img src="images/notes.png" title="My Notes" alt="My Notes" class="notes-image" />
            </a>
        </div>

    </div>
    <div class="row">
        <div class="col-xs-6">

            <div class="portlet light bordered" style="height: 204px">
                <div class="portlet-title">
                    <div class="caption">
                        <span class="caption-subject">Health Checks</span>
                    </div>
                </div>
                <ul>
                    <li>
                        <a href="#" ng-click="resellerAttributesHealthCheck()">Reseller Attributes Healh Check</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>